@charset "UTF-8";
@-webkit-keyframes grow-line {
  to {
    width: 40%;
  }
}
@keyframes grow-line {
  to {
    width: 40%;
  }
}

@-webkit-keyframes color-variations {
  0%,
  100% {
    color: #d0503e;
  }
  25% {
    color: #259b69;
  }
  50% {
    color: #b44e81;
  }
  75% {
    color: #133a74;
  }
}

@keyframes color-variations {
  0%,
  100% {
    color: #d0503e;
  }
  25% {
    color: #259b69;
  }
  50% {
    color: #b44e81;
  }
  75% {
    color: #133a74;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes visible {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes visible {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 4));
            transform: translateX(calc(-250px * 4));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 4));
            transform: translateX(calc(-250px * 4));
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  letter-spacing: -0.25px;
  font-size: 1rem;
  width: 100%;
  background-color: #171717;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.nav-line,
.home-line,
.home-desktop-line,
.arrow-line,
.line {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.overflow {
  overflow: hidden;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none !important;
  }
}

.navbar {
  position: fixed;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  padding: 1.5rem 1.5rem;
}

@media (min-width: 48em) {
  .navbar {
    padding: 2.5rem 3rem;
  }
}

@media (min-width: 64em) {
  .navbar {
    padding: 3.5rem 5rem;
  }
}

@media (min-width: 75em) {
  .navbar {
    padding: 4rem 6rem;
  }
}

.navbar__logo, .navbar__item {
  position: relative;
  z-index: 999;
  font-size: 1rem;
  font-weight: 400;
  color: #dfd3c3;
}

.navbar__logo a, .navbar__item a {
  color: #dfd3c3;
}

.navbar__logo a .line__text, .navbar__item a .line__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 0.25rem 0;
}

.navbar__logo a .line__text::after, .navbar__item a .line__text::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 1.5px;
  width: 0%;
  background-color: #dfd3c3;
  -webkit-animation: grow-line 0.6s ease-in-out forwards 1.25s;
          animation: grow-line 0.6s ease-in-out forwards 1.25s;
}

.navbar__hamb {
  width: 30px;
  height: 20px;
  position: relative;
}

.navbar__hamb__lines {
  width: 100%;
  height: 2px;
  background-color: #dfd3c3;
}

.navbar__hamb__lines:nth-child(1) {
  position: absolute;
  top: 0%;
}

.navbar__hamb__lines:nth-child(2) {
  position: absolute;
  top: 50%;
  width: 75%;
  right: 0%;
}

.navbar__hamb__lines:nth-child(3) {
  position: absolute;
  top: 100%;
}

footer p {
  margin: 1.25rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #dfd3c3;
  letter-spacing: -0.25px;
}

footer p span {
  color: #d0503e;
}

@media (min-width: 48em) {
  footer p {
    margin: 1.875rem 0;
    font-size: 1rem;
  }
}

.loading {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  background-color: #dfd3c3;
}

.about__first {
  padding-top: 6rem;
}

.home__first {
  padding: 6rem 1.5rem;
  height: 100vh;
}

@media (min-width: 48em) {
  .home__first {
    padding: 6rem 3rem;
  }
}

@media (min-width: 64em) {
  .home__first {
    padding: 6rem 5rem;
  }
}

@media (min-width: 75em) {
  .home__first {
    padding: 8rem 7.5rem;
    height: auto;
  }
}

.home__first__header {
  color: #dfd3c3;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.125rem;
  margin-bottom: 0;
  letter-spacing: -0.5px;
}

@media (min-width: 48em) {
  .home__first__header {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (min-width: 64em) {
  .home__first__header {
    font-size: 5.25rem;
    line-height: 7.5rem;
  }
}

@media (min-width: 75em) {
  .home__first__header {
    font-size: 5.625rem;
    line-height: 7.5rem;
  }
}

@media (min-width: 120em) {
  .home__first__header {
    font-size: 6.875rem;
    line-height: 9.375rem;
  }
}

.home__first__group {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 75em) {
  .home__first__group {
    margin-bottom: 7rem;
  }
}

.home__first__group .arrow {
  background: #d0503e;
  height: 2px;
  width: 70px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
}

@media (min-width: 75em) {
  .home__first__group .arrow {
    margin-left: 0;
  }
}

.home__first__group .arrow:before, .home__first__group .arrow:after {
  content: "";
  background: #d0503e;
  position: absolute;
  height: 2px;
  width: 10.25px;
}

.home__first__group .arrow:before {
  right: -2px;
  bottom: -3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home__first__group .arrow:after {
  right: -2px;
  top: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home__first__group a {
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: #d0503e;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 400;
  margin: 3.4375rem 0 3.4375rem 1.25rem;
  letter-spacing: -0.25px;
}

@media (min-width: 48em) {
  .home__first__group a {
    font-size: 1.5rem;
    margin: 3.8rem 0 3.8rem 1.25rem;
  }
}

@media (min-width: 64em) {
  .home__first__group a {
    font-size: 1.75rem;
    margin: 5rem 0 5rem 1.25rem;
  }
}

@media (min-width: 75em) {
  .home__first__group a {
    font-size: 1.375rem;
    margin: 5rem 0 5rem 1.25rem;
  }
}

@media (min-width: 75em) {
  .home__first__wrapper {
    text-align: left;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 64em) {
  .home__first__wrapper.hide-for-desktop {
    display: none;
  }
}

.home__first__wrapper__description {
  margin-top: 0;
  font-family: "Raleway";
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
}

@media (min-width: 25.875em) {
  .home__first__wrapper__description {
    font-size: 1.25rem;
  }
}

@media (min-width: 48em) {
  .home__first__wrapper__description {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 64em) {
  .home__first__wrapper__description {
    font-size: 2rem;
    line-height: 3.375rem;
  }
}

.home__second {
  padding: 0 0 6rem;
  position: relative;
  margin: 0 2rem;
  background-color: #d0503e;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.home__second.green {
  background-color: #259b69 !important;
}

.home__second.blue {
  background-color: #133a74 !important;
}

.home__second.purple {
  background-color: #b44e81 !important;
}

.home__second.yellow {
  background-color: #aca359 !important;
}

@media (min-width: 48em) {
  .home__second {
    padding: 0 0 6rem;
  }
}

@media (min-width: 64em) {
  .home__second {
    padding: 0 0 6rem;
  }
}

@media (min-width: 75em) {
  .home__second {
    padding: 0 0 8rem;
    margin-top: 8rem;
  }
}

.home__second__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -3.5625rem;
}

.home__second__image img {
  width: 8.75rem;
  height: 100%;
  -webkit-animation: spin 16s linear infinite;
          animation: spin 16s linear infinite;
}

@media (min-width: 25.875em) {
  .home__second__image img {
    width: 9.125rem;
  }
}

@media (min-width: 48em) {
  .home__second__image img {
    width: 11.125rem;
  }
}

@media (min-width: 64em) {
  .home__second__image img {
    width: 12.125rem;
  }
}

@media (min-width: 75em) {
  .home__second__image img {
    width: 11.125rem;
  }
}

.home__second__image img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.home__second__content {
  padding-top: 14.125rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 75em) {
  .home__second__content__header {
    margin-top: 6rem;
  }
}

.home__second__content__header h3 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}

@media (min-width: 25.875em) {
  .home__second__content__header h3 {
    font-size: 1.25rem;
  }
}

@media (min-width: 48em) {
  .home__second__content__header h3 {
    font-size: 1.625rem;
  }
}

@media (min-width: 75em) {
  .home__second__content__header h3 {
    font-size: 1.25rem;
  }
}

.home__second__content__header h3::after {
  content: "";
  background-color: #ffffff;
  height: 2px;
  width: 30%;
  position: absolute;
  bottom: calc(0% - 0.75rem);
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 48em) {
  .home__second__content__header h3::after {
    height: 3px;
  }
}

@media (min-width: 75em) {
  .home__second__content__header h3::after {
    height: 2px;
  }
}

.home__second__content__categories {
  margin: 5.625rem 1.5rem;
  color: #ffffff;
}

@media (min-width: 48em) {
  .home__second__content__categories {
    margin: 5.625rem 3rem;
  }
}

@media (min-width: 75em) {
  .home__second__content__categories {
    margin: 10.625rem 3rem;
  }
}

.home__second__content__categories .categories {
  margin: 5.625rem 0;
}

.home__second__content__categories .counter {
  margin: 6.875rem 0;
}

.home__second__content__categories .counter span {
  font-size: 0.6875rem;
}

@media (min-width: 25.875em) {
  .home__second__content__categories .counter {
    margin: 7.5rem 0;
  }
}

@media (min-width: 48em) {
  .home__second__content__categories .counter {
    margin: 8.75rem 1.5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 64em) {
  .home__second__content__categories .counter {
    margin: 10.625rem 3rem;
    font-size: 1.75rem;
  }
}

@media (min-width: 75em) {
  .home__second__content__categories .counter {
    margin: 7.5rem 3rem;
    font-size: 1.0625rem;
  }
}

@media (min-width: 25.875em) {
  .home__second__content__categories .category {
    -webkit-column-gap: 7rem;
            column-gap: 7rem;
  }
}

@media (min-width: 48em) {
  .home__second__content__categories .category {
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
  }
}

@media (min-width: 64em) {
  .home__second__content__categories .category {
    -webkit-column-gap: 18rem;
            column-gap: 18rem;
  }
}

.home__second__content__categories .category h1 {
  margin: 0;
  white-space: nowrap;
  font-size: 3.375rem;
  font-weight: 500;
}

@media (min-width: 25.875em) {
  .home__second__content__categories .category h1 {
    font-size: 3.375rem;
  }
}

@media (min-width: 48em) {
  .home__second__content__categories .category h1 {
    font-size: 5.25rem;
  }
}

@media (min-width: 64em) {
  .home__second__content__categories .category h1 {
    font-size: 6rem;
  }
}

.home__second__content__categories .divider {
  margin: 6.875rem 0 0;
  border: none;
  background-color: #dfd3c3;
  height: 4px;
  width: auto;
}

@media (min-width: 48em) {
  .home__second__content__categories .divider {
    margin: 8.75rem 1.5rem;
  }
}

@media (min-width: 64em) {
  .home__second__content__categories .divider {
    margin: 10.625rem 3rem;
  }
}

@media (min-width: 75em) {
  .home__second__content__categories .divider {
    margin: 7.5rem 3rem;
  }
}

.home__third {
  padding: 0 0 6rem;
  position: relative;
}

@media (min-width: 48em) {
  .home__third {
    padding: 0 0 6rem;
  }
}

@media (min-width: 64em) {
  .home__third {
    padding: 0 0 6rem;
  }
}

@media (min-width: 75em) {
  .home__third {
    padding: 0 0 8rem;
  }
}

.home__third__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -3.5625rem;
}

.home__third__image img {
  width: 11.125rem;
  height: 100%;
  -webkit-animation: spin 16s linear infinite;
          animation: spin 16s linear infinite;
}

.home__third__image img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.home__third__content {
  padding-top: 14.125rem;
}

@media (min-width: 75em) {
  .home__third__content__header {
    margin-top: 6rem;
  }
}

.home__third__content__header h3 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}

.home__third__content__header h3 sup {
  font-size: 0.9375rem;
  margin-left: 0.1rem;
}

@media (min-width: 25.875em) {
  .home__third__content__header h3 {
    font-size: 1.25rem;
  }
}

@media (min-width: 48em) {
  .home__third__content__header h3 {
    font-size: 1.625rem;
  }
}

@media (min-width: 75em) {
  .home__third__content__header h3 {
    font-size: 1.25rem;
  }
}

.home__third__content__header h3::after {
  content: "";
  background-color: #ffffff;
  height: 2px;
  width: 30%;
  position: absolute;
  bottom: calc(0% - 0.75rem);
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 48em) {
  .home__third__content__header h3::after {
    height: 3px;
  }
}

@media (min-width: 75em) {
  .home__third__content__header h3::after {
    height: 2px;
  }
}

.home__third__projects {
  margin: 5.625rem 0;
}

@media (min-width: 64em) {
  .home__third__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 75em) {
  .home__third__projects {
    margin: 8.75rem 0;
  }
}

.home__third__projects__item {
  border-bottom: 2px solid #dfd3c3;
  height: 20vw;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

@media (min-width: 64em) {
  .home__third__projects__item {
    border: 2px solid #dfd3c3;
    width: calc(100vw / 8);
    height: calc(100vh - 60px);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (min-width: 75em) {
  .home__third__projects__item {
    height: calc(100vh - 30px);
  }
}

.home__third__projects__item.open {
  height: calc(100vh - 60px - 200px);
  background-color: #dfd3c3;
}

.home__third__projects__item.open h3 {
  color: #171717;
}

.home__third__projects__item.open:hover h3 {
  color: #171717;
}

@media (min-width: 64em) {
  .home__third__projects__item.open {
    height: auto;
    width: 30vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% 25%;
        grid-template-columns: 75% 25%;
  }
}

.home__third__projects__item.open .home__third__projects__item__carousel {
  display: block;
  -webkit-animation: visible 500ms ease 100ms forwards;
          animation: visible 500ms ease 100ms forwards;
}

@media (min-width: 64em) {
  .home__third__projects__item.open .home__third__projects__item__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.home__third__projects__item:first-child {
  border-top: 2px solid #dfd3c3;
}

.home__third__projects__item:hover, .home__third__projects__item:focus, .home__third__projects__item:active {
  background-color: #dfd3c3;
}

.home__third__projects__item:hover h3 {
  color: #171717;
}

.home__third__projects__item__info {
  padding: 0.75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 25.875em) {
  .home__third__projects__item__info {
    padding: 1rem;
  }
}

@media (min-width: 48em) {
  .home__third__projects__item__info {
    padding: 2rem 3rem;
  }
}

@media (min-width: 64em) {
  .home__third__projects__item__info {
    height: 100%;
    padding: 4rem 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 75em) {
  .home__third__projects__item__info {
    padding: 3rem 0;
  }
}

.home__third__projects__item__info h3 {
  text-transform: uppercase;
  color: #171717;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: -0.25px;
  font-size: 1rem;
  color: #dfd3c3;
}

@media (min-width: 25.875em) {
  .home__third__projects__item__info h3 {
    font-size: 1.125rem;
  }
}

@media (min-width: 25.875em) {
  .home__third__projects__item__info h3 {
    font-size: 1.625rem;
  }
}

@media (min-width: 64em) {
  .home__third__projects__item__info h3 {
    white-space: nowrap;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
}

@media (min-width: 75em) {
  .home__third__projects__item__info h3 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}

.home__third__projects__item__info h3 span {
  font-size: 0.75rem;
  vertical-align: text-top;
  color: #d0503e;
  margin-right: 0.75rem;
}

@media (min-width: 25.875em) {
  .home__third__projects__item__info h3 span {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media (min-width: 64em) {
  .home__third__projects__item__info h3 span {
    font-size: 1.5rem;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    margin-bottom: 1.875rem;
  }
}

.home__third__projects__item__desc {
  border-top: 2px solid #171717;
  padding: 0.75rem 1rem;
  visibility: hidden;
}

@media (min-width: 25.875em) {
  .home__third__projects__item__desc {
    padding: 1rem;
  }
}

@media (min-width: 48em) {
  .home__third__projects__item__desc {
    padding: 2rem 3rem;
  }
}

.home__third__projects__item__desc p {
  line-height: 1.625rem;
  font-family: "Raleway";
  letter-spacing: 0.25px;
  margin-bottom: 1.75rem;
}

.home__third__projects__item__desc .know__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__third__projects__item__desc .know__more a {
  background-color: transparent;
  border: none;
  color: #d0503e;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: -0.25px;
  position: relative;
}

.home__third__projects__item__desc .know__more a::after {
  content: " ↗";
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Merriweather";
  position: absolute;
  top: -15%;
  margin-left: 0.875rem;
}

@media (min-width: 48em) {
  .home__third__projects__item__desc .know__more a {
    font-size: 1.5rem;
    margin: 3.8rem 0 3.8rem 1.25rem;
  }
}

@media (min-width: 64em) {
  .home__third__projects__item__desc .know__more a {
    font-size: 1.75rem;
    margin: 5rem 0 5rem 1.25rem;
  }
}

@media (min-width: 75em) {
  .home__third__projects__item__desc .know__more a {
    font-size: 1.375rem;
    margin: 5rem 0 5rem 1.25rem;
  }
}

.home__third__projects__item__carousel {
  overflow: hidden;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 90vh;
  padding: 0.75rem 1rem;
  visibility: hidden;
  -webkit-transform: rotate(270deg) translateY(25%);
          transform: rotate(270deg) translateY(25%);
}

.home__third__projects__item__carousel::before, .home__third__projects__item__carousel::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.home__third__projects__item__carousel::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.home__third__projects__item__carousel::before {
  left: 0;
  top: 0;
}

.home__third__projects__item__carousel .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 8);
}

.home__third__projects__item__carousel .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 250px;
}

.contact {
  background-color: #dfd3c3;
  position: relative;
}

@media (min-width: 48em) {
  .contact {
    padding: 0 0 2rem;
  }
}

@media (min-width: 64em) {
  .contact {
    padding: 0 0 6rem;
  }
}

@media (min-width: 75em) {
  .contact {
    padding: 0 0 8rem;
  }
}

.contact__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -3.5625rem;
}

.contact__image img {
  width: 11.125rem;
  height: 100%;
  -webkit-animation: spin 16s linear infinite;
          animation: spin 16s linear infinite;
}

.contact__image img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.contact__connect {
  padding: 14.125rem 1.5rem 6rem;
}

.contact__connect h1 {
  color: #171717;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact__connect__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.contact__connect__info .email {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 1 / 2;
}

.contact__connect__info .location {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.contact__connect__info .social1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 3 / 3;
}

.contact__connect__info .social2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 3 / 4;
}

.contact__content {
  padding: 14.125rem 1.5rem 6rem;
}

@media (min-width: 48em) {
  .contact__content__header {
    margin: 0 3rem;
  }
}

@media (min-width: 75em) {
  .contact__content__header {
    margin: 0 6rem;
  }
}

.contact__content__header h1 {
  color: #171717;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 2.875rem;
  margin-bottom: 1.875rem;
}

.contact__content__header h1 span {
  color: #d0503e;
  font-style: italic;
}

@media (min-width: 25.875em) {
  .contact__content__header h1 {
    font-size: 2rem;
  }
}

@media (min-width: 48em) {
  .contact__content__header h1 {
    font-size: 1.625rem;
  }
}

@media (min-width: 75em) {
  .contact__content__header h1 {
    font-size: 2.125rem;
    line-height: 3.375rem;
  }
}

.contact__grid {
  row-gap: 1.875rem;
}

@media (min-width: 48em) {
  .contact__grid {
    margin: 5.625rem 3rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 4.375rem;
  }
}

@media (min-width: 75em) {
  .contact__grid {
    margin: 5.625rem 12vw 0;
  }
}

.contact__grid h3 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 0;
  margin-bottom: 0.625rem;
}

@media (min-width: 25.875em) {
  .contact__grid h3 {
    font-size: 1.25rem;
  }
}

.contact__grid a {
  color: #616161;
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: 0.05px;
  font-size: 1.0625rem;
  font-family: "Raleway";
}

@media (min-width: 25.875em) {
  .contact__grid a {
    font-size: 1.1875rem;
    margin-top: 1.25rem;
  }
}

.contact__grid .media {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 48em) {
  .contact__grid .media {
    width: 60%;
  }
}

@media (min-width: 75em) {
  .contact__grid .media {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */