.about__first {
  position: relative;
  padding: 6rem 1.5rem;
  height: 100vh;

  &__quote {
    text-align: left;
    color: $sand;
    line-height: $_50px;
    font-size: $_26px;
  }

  &__image {
    margin: 6rem auto;

    img {
      width: 5.125rem;
      height: 100%;
      transform: rotate(90deg);
      // animation: spin 16s linear infinite;

      // &:hover {
      //   animation-play-state: paused;
      // }
    }
  }

  &__cards {
    margin-bottom: 8rem;

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      color: $green;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &__card {
      padding-bottom: 2rem;
      border-top: 1px solid rgba(223, 211, 195, 0.2);

      h1 {
        color: $sand;
        position: relative;
        font-size: $_18px;
        width: fit-content;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-top: 2rem;
        text-transform: uppercase;
      }

      h3 {
        margin-top: 2rem;
        color: $sand;
        font-weight: 400;
        line-height: $_34px;
        font-size: $_16px;
      }

      p {
        text-align: right;
        font-weight: 400;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: $_13px;

        &.ongoing,
        &.band {
          color: $purple;
        }

        &.past {
          color: $yellow;
        }

        &.band,
        &.play {
          margin-top: 0;
        }

        &.play {
          color: $sand;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -5%;
            left: 0;
            border-bottom: 1px solid $sand;
            width: 80%;
          }
        }
      }
    }
  }
}
