@keyframes grow-line {
  to {
    width: 40%;
  }
}

@keyframes color-variations {
  0%,
  100% {
    color: $red;
  }

  25% {
    color: $green;
  }

  50% {
    color: $purple;
  }

  75% {
    color: $blue;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
