@keyframes grow-line {
  to {
    width: 40%;
  }
}

@keyframes color-variations {
  0%,
  100% {
    color: $red;
  }

  25% {
    color: $green;
  }

  50% {
    color: $purple;
  }

  75% {
    color: $blue;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes visible {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 8));
  }
}
