footer {
  background-color: $sand;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

  p {
    margin: 0 0 $_20px;
    text-align: center;
    font-size: $_14px;
    color: $black;
    letter-spacing: -0.25px;
    font-weight: 500;
    text-transform: uppercase;

    span {
      color: $red;
    }

    @include breakpoint-up(tablet) {
      // margin: $_30px 0;
      font-size: $_16px;
    }
  }
}
