*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  font-size: 1rem;
  width: 100%;
  background-color: $black;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-ai-c {
    align-items: center;
  }
}

.grid {
  display: grid;
}

.line {
  transform: translateY(100%);
}

.hide {
  overflow: hidden;
}

.hide-for-mobile {
  // hide for mobile and tablet
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  // hide for mobile and desktop
  @include breakpoint-up(xLarge) {
    display: none;
  }
}
