.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 1.5rem 1.5rem;

  &__logo,
  &__item {
    font-size: 1.25rem;
    font-weight: 400;
    color: $white;

    a {
      color: $white;
    }
  }

  &__hamb {
    width: 30px;
    height: 20px;
    position: relative;

    &__lines {
      width: 100%;
      height: 2px;
      background-color: $white;

      &:nth-child(1) {
        position: absolute;
        top: 0%;
      }

      &:nth-child(2) {
        position: absolute;
        top: 50%;
        width: 75%;
        right: 0%;
      }

      &:nth-child(3) {
        position: absolute;
        top: 100%;
      }
    }
  }
}
