.navbar {
  position: fixed;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  padding: 1.5rem 1.5rem;

  &__logo,
  &__item {
    position: relative;
    z-index: 999;
    font-size: $_16px;
    font-weight: 400;
    color: $sand;

    a {
      color: $sand;

      .line__text {
        width: fit-content;
        position: relative;
        padding: 0.25rem 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0%;
          left: 0%;
          height: 1.5px;
          width: 0%;
          background-color: $sand;
          animation: grow-line 0.6s ease-in-out forwards 1.25s;
        }
      }

      div {
        // mix-blend-mode: difference;
      }
    }
  }

  &__hamb {
    width: 30px;
    height: 20px;
    position: relative;

    &__lines {
      width: 100%;
      height: 2px;
      background-color: $sand;

      &:nth-child(1) {
        position: absolute;
        top: 0%;
      }

      &:nth-child(2) {
        position: absolute;
        top: 50%;
        width: 75%;
        right: 0%;
      }

      &:nth-child(3) {
        position: absolute;
        top: 100%;
      }
    }
  }
}
