.home__first {
  padding: 6rem 1.5rem;
  height: 100vh;

  @include breakpoint-up(tablet) {
    padding: 6rem 3rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 6rem 5rem;
  }

  @include breakpoint-up(desktop) {
    padding: 8rem 7.5rem;
    height: auto;
  }

  &__header {
    color: $sand;
    font-size: $_32px;
    font-weight: 600;
    line-height: 3.125rem;
    margin-bottom: 0;
    letter-spacing: -0.5px;

    @include breakpoint-up(tablet) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_84px;
      line-height: $_120px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_90px;
      line-height: $_120px;
    }

    @include breakpoint-up(large) {
      font-size: $_110px;
      line-height: $_150px;
    }
  }

  &__group {
    justify-content: flex-start;

    @include breakpoint-up(desktop) {
      margin-bottom: 7rem;
    }

    // @include breakpoint-up(large) {
    //   margin-bottom: 10rem;
    // }

    .arrow {
      background: $red;
      height: 2px;
      width: 70px;
      margin-left: auto;
      position: relative;
      cursor: pointer;
      transform: translateX(-20%);
      opacity: 0;

      @include breakpoint-up(desktop) {
        margin-left: 0;
      }

      &:before,
      &:after {
        content: "";
        background: $red;
        position: absolute;
        height: 2px;
        width: 10.25px;
      }

      &:before {
        right: -2px;
        bottom: -3px;
        transform: rotate(-45deg);
      }

      &:after {
        right: -2px;
        top: -3px;
        transform: rotate(45deg);
      }
    }

    a {
      margin-left: 20px;
      background-color: transparent;
      border: none;
      color: $red;
      font-size: $_20px;
      font-family: "Montserrat";
      font-weight: 400;
      margin: 3.4375rem 0 3.4375rem 1.25rem;
      letter-spacing: -0.25px;

      @include breakpoint-up(tablet) {
        font-size: $_24px;
        margin: 3.8rem 0 3.8rem 1.25rem;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_28px;
        margin: 5rem 0 5rem 1.25rem;
      }

      @include breakpoint-up(desktop) {
        font-size: $_22px;
        margin: 5rem 0 5rem 1.25rem;
      }
    }
  }

  &__wrapper {
    @include breakpoint-up(desktop) {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.hide-for-desktop {
      @include breakpoint-up(iPadPro) {
        display: none;
      }
    }

    &__description {
      margin-top: 0;
      font-family: "Raleway";
      color: $white;
      font-size: $_18px;
      font-weight: 400;
      line-height: $_34px;

      @include breakpoint-up(largePhone) {
        font-size: $_20px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_26px;
        line-height: $_40px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_32px;
        line-height: $_54px;
      }
    }
  }
}

.home__second {
  padding: 0 0 6rem;
  position: relative;
  margin: 0 2rem;
  background-color: $red;
  transition: all 500ms;

  &.green {
    background-color: $green !important;
  }

  &.blue {
    background-color: $blue !important;
  }

  &.purple {
    background-color: $purple !important;
  }

  &.yellow {
    background-color: $yellow !important;
  }

  @include breakpoint-up(tablet) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(desktop) {
    padding: 0 0 8rem;
    margin-top: 8rem;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -3.5625rem;

    img {
      width: 8.75rem;
      height: 100%;
      animation: spin 16s linear infinite;

      @include breakpoint-up(largePhone) {
        width: 9.125rem;
      }

      @include breakpoint-up(tablet) {
        width: 11.125rem;
      }

      @include breakpoint-up(iPadPro) {
        width: 12.125rem;
      }

      @include breakpoint-up(desktop) {
        width: 11.125rem;
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__content {
    padding-top: 14.125rem;
    transition: all 0.5s ease;

    &__header {
      @include breakpoint-up(desktop) {
        margin-top: 6rem;
      }

      h3 {
        position: relative;
        width: fit-content;
        color: $white;
        font-size: $_18px;
        font-weight: 500;

        @include breakpoint-up(largePhone) {
          font-size: $_20px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_26px;
        }

        @include breakpoint-up(desktop) {
          font-size: $_20px;
        }

        &::after {
          content: "";
          background-color: $white;
          height: 2px;
          width: 30%;
          position: absolute;
          bottom: calc(0% - 0.75rem);
          left: 50%;
          transform-origin: center;
          transform: translateX(-50%);

          @include breakpoint-up(tablet) {
            height: 3px;
          }

          @include breakpoint-up(desktop) {
            height: 2px;
          }
        }
      }
    }

    &__categories {
      margin: $_90px 1.5rem;
      color: $white;

      @include breakpoint-up(tablet) {
        margin: $_90px 3rem;
      }

      @include breakpoint-up(desktop) {
        margin: $_170px 3rem;
      }

      .categories {
        margin: $_90px 0;
      }

      .counter {
        margin: $_110px 0;

        span {
          font-size: $_11px;
        }

        @include breakpoint-up(largePhone) {
          margin: $_120px 0;
        }

        @include breakpoint-up(tablet) {
          margin: $_140px 1.5rem;
          font-size: $_24px;
        }

        @include breakpoint-up(iPadPro) {
          margin: $_170px 3rem;
          font-size: $_28px;
        }

        @include breakpoint-up(desktop) {
          margin: $_120px 3rem;
          font-size: $_17px;
        }
      }

      .category {
        @include breakpoint-up(largePhone) {
          column-gap: 7rem;
        }

        @include breakpoint-up(tablet) {
          column-gap: 10rem;
        }

        @include breakpoint-up(iPadPro) {
          column-gap: 18rem;
        }

        h1 {
          margin: 0;
          white-space: nowrap;
          font-size: $_54px;
          font-weight: 500;

          @include breakpoint-up(largePhone) {
            font-size: $_54px;
          }

          @include breakpoint-up(tablet) {
            font-size: $_84px;
          }

          @include breakpoint-up(iPadPro) {
            font-size: $_96px;
          }
        }
      }

      .divider {
        margin: $_110px 0 0;
        border: none;
        background-color: $sand;
        height: 4px;
        width: auto;

        @include breakpoint-up(tablet) {
          margin: $_140px 1.5rem;
        }

        @include breakpoint-up(iPadPro) {
          margin: $_170px 3rem;
        }

        @include breakpoint-up(desktop) {
          margin: $_120px 3rem;
        }
      }
    }
  }
}

.home__third {
  padding: 0 0 6rem;
  position: relative;

  @include breakpoint-up(tablet) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(desktop) {
    padding: 0 0 8rem;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -3.5625rem;

    img {
      width: 11.125rem;
      height: 100%;
      animation: spin 16s linear infinite;

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__content {
    padding-top: 14.125rem;

    // @include breakpoint-up(desktop) {
    //   padding: 0 8rem;
    // }

    &__header {
      @include breakpoint-up(desktop) {
        margin-top: 6rem;
      }

      h3 {
        position: relative;
        width: fit-content;
        color: $white;
        font-size: $_18px;
        font-weight: 500;

        sup {
          font-size: $_15px;
          margin-left: 0.1rem;
        }

        @include breakpoint-up(largePhone) {
          font-size: $_20px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_26px;
        }

        @include breakpoint-up(desktop) {
          font-size: $_20px;
        }

        &::after {
          content: "";
          background-color: $white;
          height: 2px;
          width: 30%;
          position: absolute;
          bottom: calc(0% - 0.75rem);
          left: 50%;
          transform-origin: center;
          transform: translateX(-50%);

          @include breakpoint-up(tablet) {
            height: 3px;
          }

          @include breakpoint-up(desktop) {
            height: 2px;
          }
        }
      }
    }
  }

  &__projects {
    margin: $_90px 0;

    @include breakpoint-up(iPadPro) {
      display: flex;
    }

    @include breakpoint-up(desktop) {
      margin: $_140px 0;
    }

    &__item {
      border-bottom: 2px solid $sand;

      &:first-child {
        border-top: 2px solid $sand;
      }

      @include breakpoint-up(iPadPro) {
        border: 2px solid $sand;
        width: calc(100vw / 8);
        height: calc(100vh - 60px);
        transform: rotate(180deg);
      }

      @include breakpoint-up(desktop) {
        height: calc(100vh - 30px);
      }

      &:hover {
        background-color: $sand;
      }

      &:hover h3 {
        color: $black;
      }

      &__info {
        padding: 0.75rem 1rem;
        display: flex;
        justify-content: space-between;

        @include breakpoint-up(largePhone) {
          padding: 1rem;
        }

        @include breakpoint-up(tablet) {
          padding: 2rem 3rem;
        }

        @include breakpoint-up(iPadPro) {
          height: 100%;
          padding: 4rem 3rem;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }

        @include breakpoint-up(desktop) {
          padding: 3rem 0;
        }

        h3 {
          text-transform: uppercase;
          color: $black;
          font-weight: 500;
          font-family: "Montserrat";
          letter-spacing: -0.25px;
          font-size: $_16px;
          color: $sand;

          @include breakpoint-up(largePhone) {
            font-size: $_18px;
          }

          @include breakpoint-up(largePhone) {
            font-size: $_26px;
          }

          @include breakpoint-up(iPadPro) {
            white-space: nowrap;
            writing-mode: vertical-lr;
          }

          @include breakpoint-up(desktop) {
            margin: 0;
            font-size: $_24px;
            letter-spacing: 2px;
          }

          span {
            font-size: $_12px;
            vertical-align: text-top;
            color: $red;
            margin-right: $_12px;

            @include breakpoint-up(largePhone) {
              font-size: $_24px;
              margin-right: $_24px;
            }

            @include breakpoint-up(iPadPro) {
              font-size: $_24px;
              writing-mode: vertical-lr;
              margin-bottom: $_30px;
            }
          }
        }
      }
    }
  }
}

.contact {
  background-color: $sand;
  position: relative;

  @include breakpoint-up(tablet) {
    padding: 0 0 2rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(desktop) {
    padding: 0 0 8rem;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -3.5625rem;

    img {
      width: 11.125rem;
      height: 100%;
      animation: spin 16s linear infinite;

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__content {
    padding: 14.125rem 1.5rem 6rem;

    &__header {
      @include breakpoint-up(tablet) {
        margin: 0 3rem;
      }

      @include breakpoint-up(desktop) {
        margin: 0 6rem;
      }

      h1 {
        color: $black;
        font-size: $_32px;
        font-weight: 700;
        line-height: $_46px;
        margin-bottom: $_60px;

        span {
          color: $red;
          // width: fit-content;
          // position: relative;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   bottom: -30%;
          //   left: 0%;
          //   background-color: $red;
          //   height: 4px;
          //   width: 30%;
          // }
        }

        @include breakpoint-up(largePhone) {
          font-size: $_32px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_26px;
        }

        @include breakpoint-up(desktop) {
          font-size: $_34px;
          line-height: $_54px;
        }
      }
    }
  }

  &__grid {
    row-gap: $_50px;

    @include breakpoint-up(tablet) {
      margin: $_90px 3rem;
      grid-template-columns: repeat(2, 1fr);
      row-gap: $_70px;
    }

    @include breakpoint-up(desktop) {
      margin: $_90px 6rem 0;
    }

    h3 {
      font-size: $_18px;
      font-weight: 700;
      font-family: "Montserrat";
      margin-bottom: 0;
      margin-bottom: $_10px;

      @include breakpoint-up(largePhone) {
        font-size: $_20px;
      }
    }

    a {
      color: $grey;
      margin-bottom: 0;
      font-weight: 500;
      letter-spacing: 0.05px;
      font-size: $_17px;
      font-family: "Raleway";

      @include breakpoint-up(largePhone) {
        font-size: $_19px;
        margin-top: $_20px;
      }
    }

    .media {
      height: fit-content;
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint-up(tablet) {
        width: 60%;
      }

      @include breakpoint-up(desktop) {
        width: 40%;
      }
    }
  }
}
