.home__first {
  padding: 6rem 1.5rem;
  height: 100vh;

  @include breakpoint-up(tablet) {
    padding: 6rem 3rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 6rem 5rem;
  }

  @include breakpoint-up(desktop) {
    padding: 8rem 7.5rem;
    height: auto;
  }

  &__header {
    color: $sand;
    font-size: $_32px;
    font-weight: 600;
    line-height: 3.125rem;
    margin-bottom: 0;
    letter-spacing: -0.5px;

    @include breakpoint-up(tablet) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_84px;
      line-height: $_120px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_90px;
      line-height: $_120px;
    }

    @include breakpoint-up(large) {
      font-size: $_110px;
      line-height: $_150px;
    }
  }

  &__group {
    justify-content: flex-start;

    @include breakpoint-up(desktop) {
      margin-bottom: 7rem;
    }

    // @include breakpoint-up(large) {
    //   margin-bottom: 10rem;
    // }

    .arrow {
      background: $red;
      height: 2px;
      width: 70px;
      margin-left: auto;
      position: relative;
      cursor: pointer;

      @include breakpoint-up(desktop) {
        margin-left: 0;
      }

      &:before,
      &:after {
        content: "";
        background: $red;
        position: absolute;
        height: 2px;
        width: 10.25px;
      }

      &:before {
        right: -2px;
        bottom: -3px;
        transform: rotate(-45deg);
      }

      &:after {
        right: -2px;
        top: -3px;
        transform: rotate(45deg);
      }
    }

    a {
      margin-left: 20px;
      background-color: transparent;
      border: none;
      color: $red;
      font-size: $_20px;
      font-family: "Montserrat";
      font-weight: 400;
      margin: 3.4375rem 0 3.4375rem 1.25rem;
      letter-spacing: -0.25px;

      @include breakpoint-up(tablet) {
        font-size: $_24px;
        margin: 3.8rem 0 3.8rem 1.25rem;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_28px;
        margin: 5rem 0 5rem 1.25rem;
      }

      @include breakpoint-up(desktop) {
        font-size: $_22px;
        margin: 5rem 0 5rem 1.25rem;
      }
    }
  }

  &__wrapper {
    @include breakpoint-up(desktop) {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.hide-for-desktop {
      @include breakpoint-up(iPadPro) {
        display: none;
      }
    }

    &__description {
      margin-top: 0;
      font-family: "Raleway";
      color: $white;
      font-size: $_18px;
      font-weight: 400;
      line-height: $_34px;

      @include breakpoint-up(largePhone) {
        font-size: $_20px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_26px;
        line-height: $_40px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_32px;
        line-height: $_54px;
      }
    }
  }
}

.home__second {
  padding: 0 0 6rem;
  position: relative;
  background-color: $red;

  @include breakpoint-up(tablet) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 0 0 6rem;
  }

  @include breakpoint-up(desktop) {
    padding: 0 0 8rem;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -3.5625rem;
    img {
      width: 11.125rem;
      height: 100%;
      animation: spin 16s linear infinite;
    }
  }

  &__content {
    padding-top: 14.125rem;

    &__header {
      h3 {
        position: relative;
        width: fit-content;
        color: $white;
        font-size: $_18px;
        font-weight: 500;

        @include breakpoint-up(largePhone) {
          font-size: $_20px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_26px;
        }

        &::after {
          content: "";
          background-color: $white;
          height: 2px;
          width: 30%;
          position: absolute;
          bottom: calc(0% - 0.75rem);
          left: 50%;
          transform-origin: center;
          transform: translateX(-50%);

          @include breakpoint-up(tablet) {
            height: 3px;
          }
        }
      }
    }

    &__categories {
      margin-top: $_90px;
      color: $white;

      .counter {
        margin: $_96px 0;
        padding: 0 1.5rem;

        @include breakpoint-up(largePhone) {
          margin: $_110px 0;
        }

        @include breakpoint-up(tablet) {
          margin: $_130px 0;
          font-size: $_24px;
        }
      }

      .category {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 6rem;

        @include breakpoint-up(largePhone) {
          column-gap: 7rem;
        }

        @include breakpoint-up(tablet) {
          column-gap: 10rem;
        }

        h1 {
          margin: 0;
          white-space: nowrap;
          font-size: $_54px;
          font-weight: 500;

          @include breakpoint-up(largePhone) {
            font-size: $_54px;
          }

          @include breakpoint-up(tablet) {
            font-size: $_84px;
          }
        }
      }

      .divider {
        margin: $_110px 1.5rem;
        border: none;
        background-color: $sand;
        height: 4px;
        width: auto;

        @include breakpoint-up(tablet) {
          margin: $_130px 1.5rem;
        }
      }
    }
  }
}
