$black: #171717;
$white: #ffffff;
$sand: #dfd3c3;
$red: #d0503e;
$green: #259b69;
$lightGreen: #66d99b;
$purple: #7c44f1;
$blue: #133a74;

$_11px: 0.6875rem;
$_12px: 0.75rem;
$_13px: 0.8125rem;
$_14px: 0.875rem;
$_15px: 0.9375rem;
$_16px: 1rem;
$_17px: 1.0625rem;
$_18px: 1.0625rem;
$_19px: 1.0625rem;
$_20px: 1.0625rem;
$_17px: 1.0625rem;
$_18px: 1.125rem;
$_19px: 1.1875rem;
$_20px: 1.25rem;
$_32px: 2rem;
$_34px: 2.125rem;
$_40px: 2.5rem;
